
parse_git_branch() {
  command -v git >/dev/null 2>&1 || return
  git rev-parse --is-inside-work-tree >/dev/null 2>&1 || return

  local branch
  branch=$(git symbolic-ref --quiet --short HEAD 2>/dev/null)

  if [[ -n $branch ]]; then
    printf "%s" "$branch"
  else
    printf "DETACHED"
  fi
}


# PS1
export PS1='\[\e[36m\]\w\[\e[0m\]$(git_branch=$(parse_git_branch); [ -n "$git_branch" ] && printf " \[\e[33m\](%s)\[\e[0m\]" "$git_branch") \$ '
